*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: coral;
}

.places-list{
    display: flex;
    gap: 5rem;
}

.places-list__photo{
    background-size: cover;
    height: 15rem;
    width: 30rem;
}
